<div class="p-grid-fluid p-nogutter">
  <p-toast key="trabajador" position="bottom-center"></p-toast>
  <p-panel>
    <p-header>
      <div style="text-align: center;">
        <strong>Trabajadores</strong>
      </div>
    </p-header>
    <p-menubar [model]="items">
      <div>
        <input
          type="text"
          pInputText
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
        <button
          type="button"
          pButton
          label="Logout"
          (click)="logout()"
          icon="pi pi-power-off"
          style="margin-left: 0.25em;"
        ></button>
      </div>
    </p-menubar>
    <p-table
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedEmpleado"
      dataKey="cedula"
      [rows]="10"
      [value]="empleados"
      #dt
      [globalFilterFields]="[
        'cedula',
        'apellidos',
        'nombres',
        'fechaNacimiento'
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center;">Cedula</th>
          <th style="text-align: center;">Foto</th>
          <th style="text-align: center;">Apellidos</th>
          <th style="text-align: center;">Nombres</th>
          <th style="text-align: center;">Fecha de Nacimiento</th>
          <th style="width: 4rem; text-align: center;">Ver</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empleado>
        <tr [pSelectableRow]="empleado">
          <td style="text-align: center;">{{ empleado.cedula }}</td>
          <td>
            <img
              *ngIf="empleado.fotoHashCode"
              [src]="
                'http://localhost:8080/api/empleados/uploads/img/' +
                empleado.cedula
              "
              class="img-thumbnail rounded"
              style="width: 128px; cursor: pointer;"
            />
          </td>
          <td style="text-align: center;">{{ empleado.apellidos }}</td>
          <td style="text-align: center;">{{ empleado.nombres }}</td>
          <td style="text-align: center;">{{ empleado.fechaNacimiento }}</td>
          <td style="align-content: center;">
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-search"
              (click)="selectTrabajador(empleado); displayDetalle = true"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left;">
          Trabajador Seleccionado:
          {{
            selectedEmpleado
              ? selectedEmpleado.cedula +
                " - " +
                selectedEmpleado.apellidos +
                " " +
                selectedEmpleado.nombres
              : "Ninguno"
          }}
        </div>
      </ng-template>
    </p-table>
  </p-panel>
</div>
<!-- 
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
  ----------------------------------------Modal Detalle-------------------------------------
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
 -->

<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <p-header>
    <b>Detalle Trabajador</b>
  </p-header>
  <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
    <form [formGroup]="empleadoForm" (submit)="onGuardar()">
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Cedula *</div>
          <input
            pInputText
            type="text"
            formControlName="cedula"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="La Cedula Es Requerida"
            *ngIf="
              !empleadoForm.controls['cedula'].valid &&
              empleadoForm.controls['cedula'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Apellidos *</div>
          <input
            pInputText
            type="text"
            formControlName="apellidos"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo Apellido Es Requerido"
            *ngIf="
              !empleadoForm.controls['apellidos'].valid &&
              empleadoForm.controls['apellidos'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Nombres *</div>
          <input
            pInputText
            type="text"
            formControlName="nombres"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo Nombre Es Requerido"
            *ngIf="
              !empleadoForm.controls['nombres'].valid &&
              empleadoForm.controls['nombres'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Genero *</div>
          <p-dropdown
            [options]="generos"
            formControlName="genero"
            placeholder="Seleccione el Genero"
          >
          </p-dropdown>
          <p-message
            severity="error"
            text="Seleccione un Genero"
            *ngIf="
              !empleadoForm.controls['genero'].valid &&
              empleadoForm.controls['genero'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Fecha de Nacimiento *</div>
          <p-calendar
            formControlName="fechaNacimiento"
            [locale]="es"
            dateFormat="yy-mm-dd"
            dataType="string"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="1930:2030"
          ></p-calendar>
          <p-message
            severity="error"
            text="Seleccione una fecha"
            *ngIf="
              !empleadoForm.controls['fechaNacimiento'].valid &&
              empleadoForm.controls['fechaNacimiento'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Grupo Sanguineo *</div>
          <p-dropdown
            [options]="tipoSangre"
            formControlName="tipoSangre"
            placeholder="Seleccione Un Grupo Sanguineo"
          >
          </p-dropdown>
          <p-message
            severity="error"
            text="Seleccione Un Grupo Sanguineo"
            *ngIf="
              !empleadoForm.controls['tipoSangre'].valid &&
              empleadoForm.controls['tipoSangre'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Direccion *</div>
          <input
            pInputText
            type="text"
            formControlName="direccion"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo direccion Es Requerido"
            *ngIf="
              !empleadoForm.controls['direccion'].valid &&
              empleadoForm.controls['direccion'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Telefono *</div>
          <input
            pInputText
            type="text"
            formControlName="telefono"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo telefono Es Requerido"
            *ngIf="
              !empleadoForm.controls['telefono'].valid &&
              empleadoForm.controls['telefono'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>EPS *</div>
          <p-dropdown
            [options]="eps"
            formControlName="eps"
            optionLabel="nombre"
            placeholder="Seleccione una EPS"
          ></p-dropdown>
          <p-message
            severity="error"
            text="El Campo Nombre Es Requerido"
            *ngIf="
              !empleadoForm.controls['eps'].valid &&
              empleadoForm.controls['eps'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>AFP *</div>
          <p-dropdown
            [options]="afp"
            formControlName="afp"
            optionLabel="nombre"
            placeholder="Seleccione un Fondo de Pensión"
          ></p-dropdown>
          <p-message
            severity="error"
            text="El Campo AFP Es Requerido"
            *ngIf="
              !empleadoForm.controls['afp'].valid &&
              empleadoForm.controls['afp'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>ARL *</div>
          <p-dropdown
            [options]="arl"
            formControlName="arl"
            optionLabel="nombre"
            placeholder="Seleccione una ARL"
          ></p-dropdown>
          <p-message
            severity="error"
            text="El Campo ARL Es Requerido"
            *ngIf="
              !empleadoForm.controls['arl'].valid &&
              empleadoForm.controls['arl'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Caja De Compensacion Familiar *</div>
          <p-dropdown
            [options]="caja"
            formControlName="cajaComFamiliar"
            optionLabel="nombre"
            placeholder="Seleccione una Caja de Compensacion"
          ></p-dropdown>
          <p-message
            severity="error"
            text="El Campo cajaComFamiliar Es Requerido"
            *ngIf="
              !empleadoForm.controls['cajaComFamiliar'].valid &&
              empleadoForm.controls['cajaComFamiliar'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Alergia *</div>
          <input
            pInputText
            type="text"
            formControlName="alergia"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo alergia Es Requerido"
            *ngIf="
              !empleadoForm.controls['alergia'].valid &&
              empleadoForm.controls['alergia'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Medimentos *</div>
          <input
            pInputText
            type="text"
            formControlName="medimentos"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="El Campo medimentos Es Requerido"
            *ngIf="
              !empleadoForm.controls['medimentos'].valid &&
              empleadoForm.controls['medimentos'].dirty
            "
          ></p-message>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0;">
          <div>
            <div>En caso de emergencia llamar A: *</div>
            <input
              pInputText
              type="text"
              formControlName="enCasoEmergencia"
              placeholder="Requerido"
            />
            <p-message
              severity="error"
              text="El Campo EnCasoEmergencia Es Requerido"
              *ngIf="
                !empleadoForm.controls['enCasoEmergencia'].valid &&
                empleadoForm.controls['enCasoEmergencia'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0;">
          <div>
            <div>Parentesco: *</div>
            <input
              pInputText
              type="text"
              formControlName="parentesco"
              placeholder="Requerido"
            />
            <p-message
              severity="error"
              text="El Campo parentesco Es Requerido"
              *ngIf="
                !empleadoForm.controls['parentesco'].valid &&
                empleadoForm.controls['parentesco'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0;">
          <div>
            <div>Telefono de Emergencia: *</div>
            <input
              pInputText
              type="text"
              formControlName="telEmergencia"
              placeholder="Requerido"
            />
            <p-message
              severity="error"
              text="El Campo telEmergencia Es Requerido"
              *ngIf="
                !empleadoForm.controls['telEmergencia'].valid &&
                empleadoForm.controls['telEmergencia'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0;">
          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01"
                  >Upload</span
                >
              </div>
              <div class="custom-file">
                <input
                  (change)="seleccionarFoto($event)"
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >Seleccionar Archivo</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="displayModal = false; onGuardar()"
        label="Aceptar"
        [disabled]="!empleadoForm.valid"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="displayModal = false; empleadoForm.reset()"
        label="Cancelar"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-scrollPanel>
</p-dialog>

<!-- 
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
  ----------------------------------------SideBar Detalle-----------------------------------
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------
 -->

<p-sidebar [(visible)]="displayDetalle" blockScroll="true" [fullScreen]="true">
  <div class="p-grid">
    <div class="p-col-8">
      <div class="p-grid">
        <div class="p-col-4">
          <div class="p-fluid">
            <div class="p-field">
              <label for="nombres">Nombres: </label>
              <input
                id="nombres"
                readonly="true"
                value="{{ selectedEmpleado2.nombres }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-4">
          <div class="p-fluid">
            <div class="p-field">
              <label for="apellidos">Apellidos: </label>
              <input
                id="apellidos"
                readonly="true"
                value="{{ selectedEmpleado2.apellidos }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-4">
          <div class="p-fluid">
            <div class="p-field">
              <label for="edad">Edad: </label>
              <input
                id="edad"
                readonly="true"
                value="{{ edad }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-3">
          <div class="p-fluid">
            <div class="p-field">
              <label for="cedula">Cedula: </label>
              <input
                id="cedula"
                readonly="true"
                value="{{ selectedEmpleado2.cedula }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-3">
          <div class="p-fluid">
            <div class="p-field">
              <label for="fechaNacimiento">Fecha de Nacimiento: </label>
              <input
                id="fechaNacimiento"
                readonly="true"
                value="{{ selectedEmpleado2.fechaNacimiento }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-3">
          <div class="p-fluid">
            <div class="p-field">
              <label for="telefono">Telefono: </label>
              <input
                id="telefono"
                readonly="true"
                value="{{ selectedEmpleado2.telefono }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-3">
          <div class="p-fluid">
            <div class="p-field">
              <label for="tipoSangre">Grupo Sanquineo y Rh: </label>
              <input
                id="tipoSangre"
                readonly="true"
                value="{{ selectedEmpleado2.tipoSangre }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid">
            <div class="p-field">
              <label for="direccion">Direccion: </label>
              <input
                id="direccion"
                readonly="true"
                value="{{ selectedEmpleado2.direccion }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-fluid">
            <div class="p-field">
              <label for="municipio">Municipio: </label>
              <input
                id="municipio"
                readonly="true"
                value="{{ selectedEmpleado2.municipio }}"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-4">
      <img
        *ngIf="selectedEmpleado2.cedula !== null"
        [src]="
          'http://localhost:8080/api/empleados/uploads/img/' +
          selectedEmpleado2.cedula
        "
        class="img-thumbnail rounded"
        style="width: 256px; cursor: pointer;"
      />
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="eps">E.P.S: </label>
          <input
            *ngIf="selectedEmpleado2.cedula !== null"
            id="eps"
            readonly="true"
            value="{{ selectedEmpleado2.eps['nombre'] }}"
            type="text"
            pInputText
            class="p-text-uppercase"
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="afp">Afiliacion a Fondo de Pension: </label>
          <input
          *ngIf="selectedEmpleado2.cedula !== null"
            id="afp"
            readonly="true"
            value="{{ selectedEmpleado2.afp['nombre'] }}"
            type="text"
            pInputText
            class="p-text-uppercase"
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="cajaComFamiliar">Caja de Compensacion Familiar: </label>
          <input
          *ngIf="selectedEmpleado2.cedula !== null"
            id="cajaComFamiliar"
            readonly="true"
            value="{{ selectedEmpleado2.cajaComFamiliar['nombre'] }}"
            type="text"
            pInputText
            class="p-text-uppercase"
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="alergia">Alergias: </label>
          <input
            id="alergia"
            readonly="true"
            value="{{ selectedEmpleado2.alergia }}"
            type="text"
            pInputText
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="medimentos">Medimentos: </label>
          <input
            id="medimentos"
            readonly="true"
            value="{{ selectedEmpleado2.medimentos }}"
            type="text"
            pInputText
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="enCasoEmergencia">En Caso de Emergencia Llamar a: </label>
          <input
            id="enCasoEmergencia"
            readonly="true"
            value="{{ selectedEmpleado2.enCasoEmergencia }}"
            type="text"
            pInputText
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="parentesco">Parentesco: </label>
          <input
            id="parentesco"
            readonly="true"
            value="{{ selectedEmpleado2.parentesco }}"
            type="text"
            pInputText
          />
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-fluid">
        <div class="p-field">
          <label for="telEmergencia">Telefono de Emergencia: </label>
          <input
            id="telEmergencia"
            readonly="true"
            value="{{ selectedEmpleado2.telEmergencia }}"
            type="text"
            pInputText
          />
        </div>
      </div>
    </div>
  </div>
</p-sidebar>
