<div class="p-grid-fluid">
  <p-panel>
    <div class="p-d-flex p-jc-between">
      <div class="p-mb-3">
        <p-button
          type="button"
          icon="pi pi-chevron-left"
          *ngIf="!isFirstPage()"
          (click)="prev()"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          type="button"
          icon="pi pi-refresh"
          (click)="reset()"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          type="button"
          icon="pi pi-chevron-right"
          *ngIf="isLastPage()"
          (click)="next()"
          styleClass="p-button-text"
        ></p-button>
      </div>
      <div class="p-d-flex p-jc-end">
        <input
          type="text"
          pInputText
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
        <button
          type="button"
          pButton
          label="Asignar"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em;"
          (click)="asignarEmpleados()"
          *ngIf="selectedEmpleados.length > 0"
          [disabled]="selectedEmpleados.length <= 0"
          class="p-button-text"
        ></button>
        <button
          type="button"
          pButton
          label="Salir"
          icon="pi pi-angle-double-left"
          style="margin-left: 0.25em;"
          (click)="volver()"
          class="p-button-text"
        ></button>
      </div>
    </div>
    <p-table
      #dt
      [value]="empleados"
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      [(first)]="first"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
      [rowsPerPageOptions]="[10, 25, 50]"
      [(selection)]="selectedEmpleados"
      dataKey="cedula"
      [globalFilterFields]="[
        'cedula',
        'apellidos',
        'nombres',
        'fechaNacimiento'
      ]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="text-align: center;">Cedula</th>
          <th style="text-align: center;">Foto</th>
          <th style="text-align: center;">Apellidos</th>
          <th style="text-align: center;">Nombres</th>
          <th style="text-align: center;">Fecha de Nacimiento</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-empleado>
        <tr [pSelectableRow]="empleado">
          <td>
            <p-tableCheckbox [value]="empleado"></p-tableCheckbox>
          </td>
          <td style="text-align: center;">{{ empleado.cedula }}</td>
          <td>
            <img
              [src]="
                'http://app.cdmservicios.com/sigcdm-backend/api/fotos/image/' +
                empleado.cedula
              "
              class="img-thumbnail rounded"
              style="width: 128px; cursor: pointer;"
            />
          </td>
          <td style="text-align: center;">{{ empleado.apellidos }}</td>
          <td style="text-align: center;">{{ empleado.nombres }}</td>
          <td style="text-align: center;">{{ empleado.fechaNacimiento }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
