@font-face {
    font-family: Neusa;
    src: url(NeusaRegular.otf) format("truetype");
}
@font-face {
  font-family: Norwester;
  src: url(Norwester.otf) format("truetype");
}
@font-face {
  font-family: Freehand521;
  src: url(Freehand521\ BT.ttf) format("truetype");
}
@font-face {
  font-family: Freestyle;
  src: url(FREESCPT.TTF) format("truetype");
}