<div class="p-grid-fluid p-nogutter">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmacion"
    acceptLabel="Si"
    rejectLabel="No"
    icon="pi pi-exclamation-triangle"
  ></p-confirmDialog>
  <div class="p-col-12">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <span class="p-mr-2" [routerLink]="['/home']">{{ appName }}</span>
        <p-splitButton
          label="Registros"
          icon="pi pi-bookmark"
          [model]="itemsRegistros"
          *ngIf="isLoggedIn"
          styleClass="p-button-primary"
        ></p-splitButton>

        <p-splitButton
          label="operaciones"
          icon="pi pi-briefcase"
          [model]="itemsOperaciones"
          *ngIf="isLoggedIn"
          styleClass="p-button-success"
        ></p-splitButton>

        <!-- <i
          class="p-toolbar-separator pi pi-bars p-mr-2"
          style="vertical-align: middle;"
        ></i> -->

        
      </div>

      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-sign-in"
          [routerLink]="['/login']"
          *ngIf="!isLoggedIn"
          pTooltip="Iniciar Sesion"
          class="p-mr-2"
        ></p-button>
        <p-button
          icon="pi pi-user"
          *ngIf="isLoggedIn"
          label="{{ username }}"
          class="p-mr-2"
        ></p-button>
        <p-button
          icon="pi pi-calendar"
          *ngIf="isLoggedIn"
          styleClass="p-button-success p-mr-2"
        ></p-button>
        <p-button
          icon="pi pi-times"
          *ngIf="isLoggedIn"
          styleClass="p-button-danger"
        ></p-button>
      </div>
    </p-toolbar>
  </div>
</div>
