<div class="p-grid-fluid p-nogutter">
  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmacion"
    acceptLabel="Si"
    rejectLabel="No"
    icon="pi pi-exclamation-triangle"
    [style]="{ width: '450px' }"
  ></p-confirmDialog>
  <div class="p-col-12">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <span class="p-mr-2" [routerLink]="['/home']">{{ appName }}</span>
        <p-splitButton
          label="Registros"
          icon="pi pi-bookmark"
          [model]="itemsRegistros"
          *ngIf="isLoggedIn"
          styleClass="p-button-primary"
        ></p-splitButton>

        <p-splitButton
          label="operaciones"
          icon="pi pi-briefcase"
          [model]="itemsOperaciones"
          *ngIf="isLoggedIn"
          styleClass="p-button-success"
        ></p-splitButton>

        <button
          pButton
          pRipple
          icon="pi pi-ticket"
          type="button"
          label="Varios"
          *ngIf="isLoggedIn"
          routerLink="varios"
          class="p-button-help"
        ></button>

        <!-- <i
          class="p-toolbar-separator pi pi-bars p-mr-2"
          style="vertical-align: middle;"
        ></i> -->
      </div>

      <div class="p-toolbar-group-right">
        <p-button
          icon="pi pi-sign-in"
          [routerLink]="['/login']"
          *ngIf="!isLoggedIn"
          pTooltip="Iniciar Sesion"
          class="p-mr-2"
        ></p-button>
        <p-button
          icon="pi pi-user"
          *ngIf="isLoggedIn"
          label="{{ username }}"
          class="p-mr-2"
        ></p-button>
        <p-button
          icon="pi pi-calendar"
          *ngIf="isLoggedIn"
          (onClick)="calendarVisibleBar = true"
          styleClass="p-button-success p-mr-2"
        ></p-button>
        <p-button
          icon="pi pi-power-off"
          *ngIf="isLoggedIn"
          pTooltip="Cerrar Sesion"
          (onClick)="logout()"
          styleClass="p-button-danger"
        ></p-button>
      </div>
    </p-toolbar>
  </div>
</div>
<!-- Barra Calendario -->

<p-sidebar
  [(visible)]="calendarVisibleBar"
  [fullScreen]="true"
  [baseZIndex]="10000"
>
  <div class="card">
    <p-fullCalendar [events]="eventos" [options]="opciones"></p-fullCalendar>
  </div>
</p-sidebar>
